{% load static %}
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>CyVerse UK</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"/> -->
    <meta name="description" content="a web page to submit jobs to the cyverse infrasctructure in the UK"/>
    <meta name"author" content="Alice Minotto"/>
    <meta property="og:title" content="CyVerse UK"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{% static 'japps/images/cyverse_small.png' %}"/>
    <meta property="og:description" content="job submission to Earlham Insitute cluster for bioinformatics pipelines"/>
    <meta property="og:url" content="https://cyverseuk.herokuapp.com/japps"/>
    <meta name="viewport" content="initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'japps/stylesheet.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'japps/fonts.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'japps/sass_extension.css' %}" media="screen">
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'japps/dropprofile.js' %}"></script>
    {% block more_styles %}
    {% endblock %}
    <link rel="icon" href="{% static 'japps/images/cyverse_small.png' %}">
  </head>
<body>
  <header style="display: block">
    <a href="{% url 'japps:index' %}"><img id="cyverse_logo" src="{% static 'japps/images/cyverse_rgb.png' %}" alt="[IMAGE: CyVerse logo]"/></a>
    <ul class="menu">
      <li><a href="{% url 'japps:applications' %}">Available Apps</a></li>
      <li><a href="">Contact us</a></li>
      {% if username %}
        <li><div class="dropdown">Hello, <span class="dropbtn">{{ username }}</span>
          <ul id="prof_dropdown" class="dropdown-content" hidden>
              <li><a href="">Archive</a></li>
              <li><a href="{% url 'japps:logout' %}">Log out</a></li>
          </ul>
        </div></li>
      {% endif %}
    </ul>
  </header>
  <div class="content">
    {% block body %}
    {% endblock %}
  </div>
  <footer>
    <a href="http://earlham.ac.uk/"><img id="earlham_logo" src="{% static 'japps/images/Earlham_Institute_single_line.png' %}" alt="[IMAGE: Earlham Institute]"/></a>
  </footer>
</body>
</html>
