{% extends "japps/app_description.html" %}
{% load static %}
{% block image %}
  <img img src="{% static 'japps/images/btrim.png' %}" alt="[IMAGE: btrim logo]" style="max-width: 100%"/>
{% endblock %}
{% block description %}
  <p><strong>Btrim</strong> is a fast, lightweight adapter and quality trimming program for next-generation sequencing technologies.</p>
{% endblock %}
{% block doclink %}
  <p></p>
{% endblock %}
{% block ref_list %}
  <li>Yong Kong. Btrim: A fast, lightweight adapter and quality trimming program for next-generation sequencing technologies. doi:10.1016/j.ygeno.2011.05.009</li>
{% endblock %}
