{% extends "japps/base.html" %}
{% block body %}
  <h1>CyVerseUK Apps</h1>
  {% if logged %}
    <ul class="main_list">
      {% for el in risposta %}
        <li><a href="{% url 'japps:submission' application=el %}">{{ el|slice:":-2" }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>To authenticate you will need be a registered <a href="https://user.cyverse.org/">Cyverse</a> user and to get a token.<br>
      Install the <a href="https://github.com/iPlantCollaborativeOpenSource/cyverse-sdk">CyVerse CLI</a> and follow the instruction in the documentation to retrieve a valid token for your user.</p>
    <p></p>
    <p class="warning"><strong>{{ risposta }}</strong></p>
      <a href="https://agave.iplantc.org/authorize/?client_id=FtYbpdfIqOhQ6TfK6zoUfdO3ZvUa&response_type=code&redirect_uri=http://127.0.0.1:8000&scope=PRODUCTION"><input type="submit" value="Login" /></a>
  {% endif %}
{% endblock %}
