{% extends "japps/base.html" %}
{% block body %}
  <h1>CyVerseUK Apps</h1>
  {% if logged %}
    <ul>
      {% for el in risposta %}
        <li><a href="{% url 'japps:submission' application=el %}">{{ el|slice:":-2" }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>To authenticate you will need be a registered <a href="https://user.cyverse.org/">Cyverse</a> user and to get a token.<br>
      Install the following CLI and follow the instruction in the documentation to retrieve a valid token for your user:<br>
      <a href="https://github.com/iPlantCollaborativeOpenSource/cyverse-sdk">https://github.com/iPlantCollaborativeOpenSource/cyverse-sdk</a></p>
    <p></p>
    <p style="color:red"><strong>{{ risposta }}</strong></p>
    <form action="/japps/" method="post" data-parsley-validate>
      {% csrf_token %}
      <table>
        {{ token_form.as_table }}
      </table>
      <input type="submit" value="Submit" />
    </form>
  {% endif %}
{% endblock %}
