* {
  box-sizing: content-box;
  font-family: "Roboto", "Noto Serif";
  font-size: 16px;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
@viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}
#cyverse_logo {
    max-width: 10%;
    max-height: 10%;
    padding: 1.5em;
    margin-top: 1em;
    min-width: 10em !important;
    height: auto !important;
    box-sizing: content-box;
    display: inline-block;
}
#earlham_logo{
  max-width: 10%;
  max-height: 10%;
  padding: 2em;
  float: right;
  min-width: 10em !important;
  height: auto !important;
  box-sizing: content-box;
}
#prof_dropdown {
  position: absolute;
  clear: both;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#prof_dropdown li {
  display: block;
  box-sizing: border-box;
}
#prof_dropdown li a {
  box-sizing: border-box !important;
}
#prof_dropdown li a:hover {
  background-color: #f1f1f1 !important;
  text-shadow: none;
}
.subfolder {
  color: #315683 !important;
  text-decoration: none;
  font-size: 16px;
}
.subfolder:hover {
  text-decoration: underline;
}
.dropdown {
  display: inline;
  float: right;
  box-sizing: inherit;
}
.dropdown-content li {
  text-align: center;
}
.warning {
  color:#C61F16;
}
.content {
    padding-left: 20px;
    display: block;
}
.messages {
    padding: 20px;
    margin-left: -20px;
    margin-right: 20px;
    margin-bottom: 15px;
    color: black;
    font-weight: normal !important;
    list-style-type: none;
    border-style: solid;
    border-radius: 0.5em;
}
.messages.success {
  background-color: rgba(84, 206, 169, 0.2) !important; /* #54CEA9 */
  border-color: rgba(84, 206, 169, 0.7);
}
.messages.error {
  background-color: rgba(198, 31, 22, 0.2) !important; /* #C61F16 */
  border-color: rgba(198, 31, 22, 0.7);
  color: rgba(198, 31, 22, 0.7);
}
.des_logo {
  width: 90%;
}
.menu li .dropbtn:hover {
  text-shadow: 1px 1px 6px #315683;
}
.menu {
  position: relative;
  float: right;
  display: inline !important;
  list-style-type: none;
  padding: 2em;
  margin: 0;
}
.menu li {
  display: inline;
  bottom: 0;
  padding-right: 1em;
  color:#315683;
}
.menu li a {
  color: #315683 !important;
  text-decoration: none;
  font-size: 16px;
}
.menu li a:hover {
  text-shadow: 1px 1px 6px #315683;
}
.description p {
  font-size: large;
  font-family: "Roboto", "Noto Serif";
}
.description li {
  font-weight: normal;
}
ul.errorlist {
  -webkit-margin-before: 0px;
  -webkit-padding-start: 0px;
}
ul.errorlist li {
  color:#C61F16;
  list-style-type: none;
  margin-left: 0px;
  margin-right: 20px;
  margin-bottom: 15px;
  padding-left: 0px !important;
  font-style: italic;
  font-weight: 500;
  text-shadow: 2px 2px 8px #C61F16;
}
a {
  color:#315683;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
li {
  padding: 0.3em;
  font-weight: 600;
}
table {
  display: block;
}
th, td {
  padding: 0.2em;
  padding-bottom: 1em;
}
input {
  display: block;
}
html {
    position: relative;
    min-height: 100%;
}
header {
    background: #CDD5EA ; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#CDD5EA, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CDD5EA, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CDD5EA, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CDD5EA, #ffffff); /* Standard syntax */
    padding: 0;
    margin-top:-1em;
    box-sizing: content-box;
    position: relative;
}
body{
    margin:0;
    padding:0;
}
footer {
  clear:both;
  width: 100%;
  display: block;
  box-sizing: content-box;
}
form table td ul li {
  list-style-type: none;
  display: inline !important;
}
form table td ul li input {
  display: inline !important;
}
