#cyverse_logo {
    max-width: 10%;
    max-height: 10%;
    padding: 1.5em;
    margin-top: 1em;
}
#earlham_logo{
  max-width: 10%;
  max-height: 10%;
  padding: 2em;
  float: right;
}
.warning {
  color:#C61F16;
}
.content {
    padding-left: 20px;
    display: block;
}
.alert {
    padding: 20px;
    margin-right: 20px;
    background-color: rgba(84, 206, 169, 0.8); /* #54CEA9 */
    margin-bottom: 15px;
    color: black;
}
a {
  color:#315683;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3, h4, h5, h6, p, table, input, li {
  font-family: "Roboto";
}
li {
  padding: 0.3em;
  font-weight: 600;
}
table {
  display: block;
}
th, td {
  padding: 0.2em;
  padding-bottom: 1em;
}
input {
  display: block;
}
html {
    position: relative;
    min-height: 100%;
}
header {
    background: #CDD5EA ; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#CDD5EA, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CDD5EA, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CDD5EA, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CDD5EA, #ffffff); /* Standard syntax */
    padding: 0;
    margin-top:-1em;
}
body{
    margin:0;
    padding:0;
}
footer {
  clear:both;
  width: 100%;
  display: block;
}
